*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header{
  height: 200px;
  width: 100%;
  position: fixed;
  top: 0;
  display: inline-block;
  z-index: 900;
}

/* header *{
  float: left;
} */

.hsopra{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: grey;
}

.hno{
  height: 100px;
  width: 50%;
  float: left;
}

.linguacontatti{
  width: 80%;
  height: 100%;
  margin-left: 20%;
  line-height: 100px;
  color: #33475b;
}

#tab{
  border-right: black 1px solid;
  padding-right: 10px;
}

#space1{
padding-left: 10px;

}

.hne{
  height: 100px;
  width: 50%;
  float: left;
}

.login{
  width: 80%;
  height: 100%;
  margin-right: 20%;
  line-height: 100px;
}

#lente{
  color: #33475b;
}

#blogin{
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
}

.bghf{
  background-color: #fe775a;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
}

.login span{
  float: right;
  right: 20px;
}
.hsotto{
  height: 100px;
  width: 100%;
  background-color: white;
}

.hso{
  height: 100px;
  width: 50%;
  float: left;

}

.logoc{
  width: 80%;
  height: 100%;
  margin-left: 20%;

}

.logoh{
  height: 100%;
  width: 200px;
  background-image: url("img/logo.svg");
  background-repeat: no-repeat;
  background-position: left;

}



.hse{
  height: 100px;
  width: 50%;
  float: left;
}

.navdx{
  width: 80%;
  height: 100%;
  margin-right: 20%;
  line-height: 100px;
}

.navdx span{
  margin: 0 5px;
  float: right;
}

.jumbo{
  margin-top: 200px;
  height: 750px;
  width: 100%;
  background-image: url("img/jumbotron.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.jumbotext{
  width: 30%;
  background-color: purple;
  height: 60%;
  position: relative;
  left: 10%;

}

.sezione1{
 height: 1100px;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.5);
}

.s1top{
  height: 300px;
  width: 80%;
  margin: auto;
  background-color: green;
}

.s1main{
  height: 300px;
  width: 80%;
  margin: auto;
  background-color: red;
}
.s1bot{
  height: 500px;
  width: 80%;
  margin: auto;
  background-color: blue;
}

.sezione2{
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: green;
}

.s2text{
  height: 200px;
  width: 80%;
  margin: auto;
  background-color: yellow;

}

.s2grill{
  height: 400px;
  width: 80%;
  margin: auto;
  background-color: pink;
}

.sezione3{
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: green;
}

.s3top{
  height: 200px;
  width: 80%;
  margin: auto;
  background-color: yellow;
}

.s3main{
  height: 400px;
  width: 80%;
  margin: auto;
  background-color: white;
}
footer{
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: blue;
}
.felenchi{
  height: 400px;
  width: 80%;
  margin: auto;
  background-color: green;

}
.copyright{
  height: 200px;
  width: 80%;
  margin: auto;
  background-color: purple;
}
