*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header{
  height: 200px;
  width: 100%;
  position: fixed;
  top: 0;
  display: inline-block;
  z-index: 900;
}


.hsopra{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: grey;
}

.hno{
  height: 100px;
  width: 50%;
  float: left;
}

.linguacontatti a{
  text-decoration: none;
  color: #33475b;

}

.linguacontatti{
  width: 80%;
  height: 100%;
  margin-left: 20%;
  line-height: 100px;

}

#tab{
  border-right: black 1px solid;
  padding-right: 10px;
}

#space1{
padding-left: 10px;

}

.hne{
  height: 100px;
  width: 50%;
  float: left;
}

.login{
  width: 80%;
  height: 100%;
  margin-right: 20%;
  line-height: 100px;
}

#lente{
  color: #33475b;
}

#blogin{
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
}

.bghf{
  background-color: #fe775a;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
}

.login span{
  float: right;
  right: 20px;
}
.hsotto{
  height: 100px;
  width: 100%;
  background-color: white;
}

.hso{
  height: 100px;
  width: 50%;
  float: left;

}

.logoc{
  width: 80%;
  height: 100%;
  margin-left: 20%;

}

.logoh{
  height: 100%;
  width: 200px;
  background-image: url("img/logo.svg");
  background-repeat: no-repeat;
  background-position: left;

}

.logoh a{
  text-decoration: none;
  color: white;
  padding: 100px;
}


.hse{
  height: 100px;
  width: 50%;
  float: left;
}

.navdx{
  width: 80%;
  height: 100%;
  margin-right: 20%;
  line-height: 100px;
}

.navdx a{
  text-decoration: none;
  color: black;
}

.navdx span{
  margin: 0 5px;
  float: right;
}

.jumbo{
  margin-top: 200px;
  height: 750px;
  background-image: url("img/jumbotron.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.jumbotext{
  width: 30%;
  height: 60%;
  position: relative;
  left: 10%;

}

.sloganj{
  width: 100%;
  font-weight: 800;
  font-size: 23px;
  position: relative;
  top: 50px;

}

.pj{
  position: relative;
  top: 90px;
}

.bj{
  position: relative;
  top: 130px;
}

#bigger{
  padding: 20px 30px;
}


.fj{
  position: relative;
  top: 160px;
  font-size: small;
}
.sezione1{
 width: 100%;
 background-color: rgba(0, 0, 0, 0.2);

}

.sezione1::after{
  content: "";
  display: table;
  clear: both;
}

.s1top{
  height: 500px;
  width: 80%;
  margin: auto;
}

.s1topcuboc{
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 20px;
}

.s1topimcubo{
  height: 200px;
  width: 250px;
  margin: auto;
  background-image: url("img/cube.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.s1toph{
  height: 100px;
  line-height: 100px;
  width: 50%;
  margin: auto;
  text-align: center;
}

.s1topp{
  height: 100px;
  width: 70%;
  line-height: 50px;
  margin: auto;
  text-align: center;
}

.s1main{
  height: 400px;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px grey;
  background-color: white;
}

.s1mainimgbut{
  height: 100%;
  width: 30%;
  float: left;
}

.s1maindx{
  height: 100%;
  width: 70%;
  float: left;
}

.s1maindxr1{
  height: 40%;
  width: 100%;
  padding-top: 50px;
}

.s1maindxr2{
  height: 20%;
  width: 100%;
  font-size: large;
  line-height: 40px;
}

.s1maindxr3{
  height: 20%;
  width: 100%;
  font-size: large;
  line-height: 80px;
}

.popolar{
  width: 20%;
  height: 100%;
  font-size: 100px;
  float: left;
  padding-left: 100px;

}

#pdx{
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.linea{
  width: 70%;
  height: 50%;
  float: right;
  border-bottom: 2px solid black;
}


.s1mainimg{
  height: 60%;
  width: 200px;
  margin: auto;
  background-image: url("img/book.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.s1mainbut{
  height: 40%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.s1maindxr4{
  height: 20%;
  width: 100%;
  line-height: 80px;
}

#check{
  color: #fe775a;
  margin-right: 10px;
}

.mar{
  margin-right: 10px;
}

.s1bot{
  width: 80%;
  margin: auto;
}

.s1bot::after{
  content: "";
  display: table;
  clear: both;
}

#centwins{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%
}

.s1twins{
  height: 600px;
  width: 30%;
  margin: auto;
  float: left;
  border-radius: 10px;
  margin: 5% 0;
  background-color: white;
  box-shadow: 1px 1px 5px 1px grey;
}

.imgtwins{
  height: 20%;
  width: 200px;
  margin: auto;
  background-image: url("img/marketing.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#twinservice{
  background-image: url("img/service.svg");
}

#saleshub{
  background-image: url("img/sales.svg");
}

.htwins{
  height: 10%;
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
}

.ptwins{
  height: 10%;
  width: 95%;
  margin: auto;

  text-align: center;
}

.rtwins{
height: 10%;
width: 80%;
margin: auto;
border-bottom: 2px solid black;
position: relative;
top: -30px;
}
.h2twins{
height: 10%;
width: 100%;
line-height: 30px;
text-align: center;
font-size: 20px;


}

.eltwins{
  height: 15%;
  width: 100%;
  text-align: left;
  padding: 10px;

}

.btwins{
  height: 25%;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.cp{
  height: 10%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
}

.s1text1{
  min-height: 70%;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 130px;
}

.s1text2{
  color: white;
  text-align: center;
}

.sezione2{
  min-height: 600px;
  width: 100%;
  margin: auto;
  background: linear-gradient(-45deg, #00C9A7, #008E9B);
}

.s2text{
  height: 200px;
  width: 80%;
  margin: auto;

}


.s2grill{
  /* height: 400px; */
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.s2grill::after{
  content: "";
  display: table;
  clear: both;
}

.ligrill{
  width: 25%;
  height: 50%;
  float: left;
  border: 1px solid white;
  padding: 10px;
}

.ligrill div{
  padding: 20px;

}

.iconagrill{
height: 40%;
width: 200px;
margin: auto;
text-align: center;
/* background-image: url("img/homepage_community_agency.svg"); */
/* background-repeat: no-repeat;
background-position: center; */
}

/* #iconagrill2{
background-image: url("img/homepage_community_blog.svg");
} */

/* #iconagrill3{
background-image: url("img/homepage_community_academy.svg");} */

/* #iconagrill4{
background-image: url("img/homepage_community_inbound.svg");
} */

/* #iconagrill5{
background-image: url("img/homepage_community_connect.svg");
} */

/* #iconagrill6{
background-image: url("img/homepage_community_globe.svg");
} */

/* #iconagrill7{
background-image: url("img/homepage_community_followers.svg");
} */

/* #iconagrill8{
background-image: url("img/growthhub-white-small-1.svg");
} */

.numerogrill{
  height: 40%;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 800;

}

.footgrill{
  height: 20%;
  text-align: center;
  color: white;

}

#grill1{
  border-top: none;
  border-left: none;
}

#grill2{
  border-top: none;
}

#grill4{
border-top: none;
border-right: none;
}

#grill5{
border-bottom: none;
border-left: none;
}

#grill6{
border-bottom: none;
}

#grill8{
border-bottom: none;
border-right: none;
}

.sezione3{
  min-height: 500px;
  width: 100%;
  margin: auto;
  background-color: white;
}

.s3top{
  height: 200px;
  width: 80%;
  margin: 30px auto;
}

.s3topsx{
  width: 40%;
  height: 100%;
  float: left;
}

.s3topsxnum{
  height: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: black;
  padding-top: 25px;
}

.s3topsxel{
  text-align: center;
  padding-top: 25px;
}

.s3topdx{
  width: 60%;
  height: 100%;
  float: right;
}

.s3topdxlogoc{
  width: 25%;
  height: 50%;
  float: left;
}

.s3topdxlogo{
  width: 80%;
  height: 80%;
  margin: auto;
  background-image: url("img/atlassian.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#doordash{
 background-image: url("img/doordash.png");
}

#crowd{
 background-image: url("img/g2crowd-logo@2x.png");
}

#purple{
 background-image: url("img/purple-logo@2x.png");
}

#subaru{
background-image: url("img/subaru.png");
}

#wistia{
background-image: url("img/wistia.png");
}

#classpass{
background-image: url("img/classpass.png");
}

#vmware{
background-image: url("img/vmware.png");
}

.s3main{
  min-height: 500px;
  width: 80%;
  margin: 30px auto;
  background-color: white;
}

.s3main::after{
  content: "";
  display: table;
  clear: both;
}


.s3mainsx{
  width: 45%;
  height: 500px;
  float: left;
}

.s3mainsx div{
  margin: 10px 45px;
}

.s3mainsxr1{
  height: 150px;
  font-weight: 800;
  font-size: 35px;



  /* margin: 35px 45px; */
}

.s3mainsxr2{
  height: 100px;
  /* margin: 35px 45px; */
}

.s3mainsxr3{
  height: 100px;
  line-height: 100px;
  /* margin: 35px 45px; */
}

.s3mainsxr4{
  height: 100px;
  padding-top: 30px;
  vertical-align: middle;
  /* margin: 35px 45px; */
  /* padding-bottom: 50px; */
}



.s3maindx{
  width: 55%;
  height: 500px;
  float: left;
  background-image: url("img/woman.webp");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

}

footer{
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: #32495b;
}
.felenchi{
  min-height: 400px;
  width: 80%;
  margin: auto;
  background-color: #32495b;

}

.felenco{
  height: 100%;
  width: 25%;
  float: left;

}

.felenco ul a:first-child{
  color: white;
}

.felenco span{
  margin: 10px;
  color: #cbd6e2;
  list-style-type: none;

}

.felenco li{
  list-style-type: none;
  margin: 20px;
  color: #cbd6e2;
}

.felenco a{
 text-decoration: none;
}

#footbut{
  padding: 10px;
  border-radius: 10px;
}

.copyright{
  height: 200px;
  width: 80%;
  margin: auto;
  background-color: #32495b;
}

.flanguage{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #cbd6e2;
  text-align: center;
}

.flanguage a{
text-decoration: none;
}

.flanguage span{
  margin: 5px;
  color: #cbd6e2;
}

.final{
  height: 150px;
  width: 50%;
  float: left;
}

.finalicon{
  width: 30%;
  height: 30%;
  background-image: url("img/logo_gray.svg");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 50px;
}

.finaltext{
  color: #cbd6e2;
}

.final2{
  height: 150px;
  line-height: 150px;
  width: 50%;
  float: left;
  text-align: right;
  color: #cbd6e2;
}

.final2 a{
  text-decoration: none;
  color: #cbd6e2;
}

.final2 span{
  margin: 5px;
}

.chatbot{
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  background-image: url("bot/chatbot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  bottom: 50px;
  right: 50px;

}

.chat-body{
  background: linear-gradient(to left, #00C9A7, #008E9B);
  max-width: 500px;
  position: fixed;
  right: 180px;
  bottom: 50px;
  border-radius: 15px;
  z-index: 900;
}

.chatbox{
  width: 500px;
  min-width: 390px;
  height: 600px;
  background: white;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px grey;
  z-index: 900;
}

.chatlogs{
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar{
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.chat{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat .user-photo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img{
  width: 100%;
}

.chat .chat-message{
  width: 70%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: black;
  font-size: 20px;
}

.friend .chat-message{
  background: white;
}

.self .chat-message{
  background: yellow;
  order: -1;
}

.chat-form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.chat-form textarea{
  background: white;
  width: 75%;
  height: 50px;
  border: 2px solid grey;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #333;

}

.chat-form textarea:focus{
  background: #fff;
}

.chat-form::-webkit-scrollbar{
  width: 10px;
}

.chat-form::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.chat-form button{
  background: #1ddced;
  padding: 5px 15px;
  font-size: 30px;
  color: #fff;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #0eb2c1;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
}

.chat-form button:hover{
  background: #13c8d9;
}
